.body{
  background-color: #F1F2F2;
}
.mainDiv {
  width: 100%;
  margin-top: 40%;
  height: 400px ;
  background-color: white;
  -webkit-box-shadow: 1px 5px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 5px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 5px 10px 0px rgba(50, 50, 50, 0.75);
}
.content1 {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #3F51B5;

}
.inputDiv{
  margin-top: 12%;
}
.inputDiv2{
  margin-top: 7%;
}
.content2 {
  float: right;
  margin-right:;
  width: 65%;
  height: 100%;
  background-color: white;

}
.logo{
  margin-top: 35%;
  height: 135px;
  width: 100px;
}
.signinTitleDiv{
  margin-top: 30px;
}
.signinTitle4{
  font-size: 16px;
  font-weight: bold;
  color:white;
}
.signinTitle5Div{
  height: 40px;
  padding-top:10px;
}
.signinTitle5Div:hover{
  background-color:  #1C3677;
  text-decoration: none;
}
.signinTitle5{
  font-size: 14px;
  font-weight: bold;
  padding-left: 25px;
}
.title{
  color:#263147;
  font-size: 14px;
  margin-left: 17%;
  margin-bottom: 3px;
}
.inputStyle{
  background-color: #E6E7E8;
  border-style: none;
  border-radius: 10px;
  width: 70%;
  margin-left: 15%;
  height: 35px;
  color:grey;
  font-weight: bold;
  padding-left:20px;
}
.signinEnterButton{
    background-color: #FF5252;
    height: 35px;
    width: 45%;
    margin-top: 25px;
    border-radius: 10px;
    border-bottom: solid;
    border-color: red;
    color:white;
    font-weight: bold;
    font-size: 12px;
    padding-top: 7px;
}
.signinTitle2{
  color:#263147;
  font-size: 13px;
}
.signinTitle3{
  color:#3F51B5;
  font-size: 13px;
  text-decoration: underline;
}
