.body{
  background-color: #00DDC1;
}
.mainDiv2 {
  width: 100%;
  margin-top: 15%;
  height: 500px ;
  border-radius: 12px;
  background-color: white;
}
.content1 {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #3F51B5;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.content2 {
  float: right;
  margin-right:;
  width: 65%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}
.logoSignup{
  margin-top: 85%;
  height: 135px;
  width: 100px;
}
.inputDiv{
  margin-top: 12%;
}
.titleSingup{
  color:#6D79B9;
  margin-left: 10%;
  margin-top: 10px;
}
.inputStyle{
  background-color: #F1F2F2;
  border-style: none;
  width: 80%;
  margin-left: 10%;
  height: 30px;
}
.buttonStyleSignup{
  background-color: #FF5252;
  border-style: none;
  color:white;
  border-radius: 17px;
  width: 40%;
  height: 33px;
  font-weight: bolder;
  margin-left: 50%;
}
