<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="signup.css" media="screen" title="no title" charset="utf-8">
    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body class="body">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <!--  center center with main div  -->
        <div class="col-md-6">
          <!--  mainDiv -->
          <div class="mainDiv2  ">
            <!--  div color blue with logo frenzy-->
            <div class="content1">
              <center>
                <img src="img/logo2.png" alt="" class="logoSignup" />
              </center>
            </div>
            <!--  div color white with input data  -->
            <div class="content2">
              <div class="inputDiv">
                <!--  email input  -->
                <p class="titleSingup">Correo Electrónico</p>
                <input class="inputStyle" type="text" name="name" value="">
                <br>
                <!--  name input -->
                <p class="titleSingup">Nombre</p>
                <input class="inputStyle" type="text" name="name" value="">
                <br>
                <!--  company name  -->
                <p class="titleSingup">Nombre de la Empresa</p>
                <input class="inputStyle" type="text" name="name" value="">
                <br>
                <!--  nit  -->
                <p class="titleSingup">Numero de Nit  </p>
                <input class="inputStyle" type="text" name="name" value="">
                <br>
                <!--  password input  -->
                <p class="titleSingup">Password</p>
                <input class="inputStyle" type="text" name="name" value="">
              </div>
              <br>
              <br>
              <!--  register button  -->
              <div class="RegisterDiv">
                  <!--  button  -->
                  <button class="buttonStyleSignup" type="button" name="button">REGISTRARME</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
