<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <!--  center center with main div  -->
    <div class="col-md-6">
      <!--  mainDiv -->
      <div class="mainDiv">
        <!--  div color blue with logo frenzy-->
        <div class="content1">
          <center>
            <img src="img/logo2.png" alt="" class="logo" />
          </center>
        </div>
        <!--  div color white with input data  -->
        <div class="content2">
          <div class="inputDiv">
            <!--  first input  -->
            <p class="title">Correo Electrónico</p>
            <input class="inputStyle" type="text" name="name" value="">
            <br>
            <br>
            <!--  second input  -->
            <p class="title">Password</p>
            <input class="inputStyle" type="text" name="name" value="">
          </div>
          <!--  login and titles div  -->
          <div class="loginDiv">
            <p class="loginDivTitle1">No tienes una cuenta aún?</p>
            <p class="loginDivTitle2">Crea una aqui</p>
            <!--  button div -->
            <div class="buttonDiv">
              <!--  button  -->
              <a href="#/signup/">
                <button class="buttonStyle" type="button" name="button">INGRESAR</button>
              </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
